* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.main-container {
    width: 100vw;
    height: 80vh;
    contain: content;
}

.header {
    width: 100vw;
    height: 20vh;
    contain: content;
}

.task-container {
    width: 33vw;
    height: auto;
    max-height: 50vh;
    margin-left: 30vw;
    contain: content;
    overflow-y: scroll;
    position: absolute;
    top: 2vh;
}

h1 {
    font-size: 8em;
    margin-left: 28vw;
    margin-top: 2vh;
    font-weight: bold;
    animation-name: headlineani;
    animation-duration: 1s;
}

@keyframes headlineani {
    from {margin-top: -10vh;}
    to {margin-top: 2vh;}
}

.task {
    height: auto;
    padding: 1vh;
    border-bottom: 0.05vh solid rgb(187, 187, 187);
    contain: content;
    animation-name: taskani;
    animation-duration: 1s;
    color: red;
}

@keyframes taskani {
    from {opacity: 0;}
    to {opacity: 100;}
}

.done-task-check,.remove-task-button {
    position: absolute;
    top: 1.5vh;
}

.done-task-check {
    right: 3vw;
    top: 1.65vh;
}

.remove-task-button {
    right: 1vw;
    width: 1vw;
}

.task-description {
    font-size: 1.2em;
    font-weight: lighter;
}

.add-task-container {
    padding: 0.5vw;
    width: 29vw;
    height: auto;
    contain: content;
    position: absolute;
    top: 2vh;
    left: 64vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;    
}

.add-task-textbox {
    padding: 0.5vw;
    width: 11vw;
    height: 2.2vh;
    border-radius: 20px;
    border: 0.2vh solid rgb(187, 187, 187);
}

.add-task-button {
    width: 4vw;
    height: auto;
}

.footer {
    background-color: red;
    width: 65vw;
    height: 5vh;
    position: absolute;
    bottom: 0;
    left: 35vw;
}