* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.main-container {
    width: 40vw;
    height: 80vh;
    background-color: aqua;
}

.header {
    width: 40vw;
    height: 20vh;
    background-color: blanchedalmond;
    contain: content;
}

.task-container {
    width: 36vw;
    height: auto;
    max-height: 40vh;
    margin-left: 2vw;
    contain: content;
    overflow-y: scroll;
}

h1 {
    font-size: 8em;
    margin-left: 1vw;
    margin-top: 1vh;
    font-weight: bold;
    animation-name: headlineani;
    animation-duration: 1s;
}

@keyframes headlineani {
    from {margin-top: -10vh;}
    to {margin-top: 1vh;}
}

.task {
    height: auto;
    padding: 1vh;
    border-bottom: 0.05vh solid blue;
    contain: content;
}

.done-task-check,.remove-task-button {
    position: absolute;
    top: 1.5vh;
}

.done-task-check {
    right: 4vw;
}

.remove-task-button {
    right: 1vw;
}

.task-description {
    font-size: 1.2em;
}

.add-task-textbox {
    margin-top: 2vh;
    margin-left: 2vw;
}